@font-face {
    font-family: 'VT323';
    src: url('VT323-Regular.ttf');
}
 .quantum-title{

   -fx-font-family:'VT323';
   -fx-font-size :90px;
   -fx-color: #dcd8ec;


   }

   .text-field{
        -fx-font-family:'VT323';
             -fx-prompt-text-fill: #504858;
            -fx-font-size:20px;
         -fx-max-width: 500;
         -fx-background-color : #dcd8ec;
         -fx-color: rgba(1, 1, 8, 0.6);
         -fx-background-radius: 20px;
   }

   .campo-password-quantum {
       -fx-font-family: 'VT323';
       -fx-font-size: 20px;

       -fx-echo-char: "●";
   }

    .boton-quantum {
            -fx-background-color: rgba(1, 1, 8, 0.6);
            -fx-border-color: #ccc8dc;
            -fx-border-width: 1.5px;
            -fx-border-radius: 20px;
            -fx-background-radius: 20px;
            -fx-text-fill: #e8e4f4;
            -fx-font-family: 'VT323';
            -fx-font-size: 20px;
            -fx-padding: 12px 40px;
            -fx-cursor: hand;
        }


        .boton-quantum:hover {
            -fx-background-color: rgba(255, 32, 64, 0.15);
            -fx-border-color: #FF2040;
            -fx-text-fill: #ffffff;

            -fx-effect: dropshadow(three-pass-box, #FF2040, 15, 0.5, 0, 0);
        }


        .boton-quantum:pressed {
            -fx-background-color: rgba(255, 32, 64, 0.4);
            -fx-scale-x: 0.95;
            -fx-scale-y: 0.95;
        }